@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
form{
    max-width: max-content;
    margin: auto;
}

fieldset{
    background-color: rgb(172, 156, 156);
    max-width: 35rem;
    border-radius: 15px;
    padding: 13px 5px 5px 5px;

}

input{
    border-radius: 2rem;
    background-color: rgb(220, 239, 255);
}
.cadastro-title{
    display: flex;
    justify-content: center;
    padding: 1rem;
    padding-top: 7rem;
}
.cadastro-buttons{
    display: flex;
    justify-content: space-between;
}
.cadastro-buttons input{
    padding: 7px;
    background-color: rgb(186, 196, 190);
}

.table-cadastro{
    width: 100%;
}
.table-cadastro input{
    width: 100%;
}

.fieldset-nome{
    margin-bottom: 10px;
}