
.container-main .main .background-img{
    height: 10rem;
}
.container-main .main .conteudo-perguntas {
    padding: 2rem;
}
.container-main .main .card-container {
    margin: auto;
    padding: 3rem;
}
