.cards-wrapper {
  display: flex;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
}
.card img {
  max-width: 100%;
  max-height: 100%;
}
.card {
  margin: 0 0.5rem;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
}
.carousel-inner-card {
  padding: 1rem;
  justify-content: flex-start;
  background: pink;
  display: flex;
}
.carousel-img{
  height: 30rem;
}