@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

.coco{
  width: 100%;
  height: 100vw;
  background-color: orange;
}
.cards-wrapper {
  display: flex;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
}
.card img {
  max-width: 100%;
  max-height: 100%;
  height: 50%;
  object-fit: cover;
}
.card {
  margin: 0 0.5rem;
  width: fit-content;
  height: 20rem;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
}
.carousel-inner-card {
  padding: 1rem;
  justify-content: flex-start;
  background: #EBEBEB;
  display: flex;
}
.carousel-img{
  height: 30rem;
}
.background-pages{
  height: 60vh;
  width: 100vw;
  display: flex;
}
.background-pages img{
  justify-content: center;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.container-main .main .background-img {
  width: 100%;
  height: 40rem;
  background-image: url("../img/background.png");
  display: flex;
  justify-content: center;
}
.container-main .main .background-img .logo-img{
  object-fit: contain;
  height: 20rem;
  width: 30rem;
}
.conteudo-page .title-conteudo-page h1{
  font-size: 100px;
  padding-left: 0.5rem;
}

.text-conteudo-page p{
  font-size: 20px;
  line-height: 2.1rem;
  letter-spacing: 0.5px;
  word-spacing: 2.5px;
  text-transform: capitalize;
}
.conteudo-page .text-conteudo-page{
  width: 150vh;
  padding-top: 1.5rem;
  padding-left: 2rem;
}
.conteudo-page img{
  height: 30rem;
  width: 30rem;
  
}
.container-main .main .card{
  padding: 2rem;
}
.container-main .main .error img{
  margin: auto;
  margin-left: 8rem;
  max-width: 70rem;
  max-height: auto;
}

.div100{
  width: 100%;
  display:flex;
  justify-content: center;
}

/*______________________________________________*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/*sidebar*/
.icon{
    height: 40px;
    width: 50px;
    object-fit: contain;
    }
.icon-sidebar{
    height: 25px;
    width: 30px;
    object-fit: contain;
}
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background:#191812;
  z-index: 100;
  transition: all 0.5s ease;
}
.sidebar.close{
  width: 78px;
}
.sidebar .logo-details{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i{
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  padding-top: 3px;
  padding-right: 5px;
}
.sidebar .logo-details .logo_name{
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links{
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links{
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
  display: none;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover{
  background: #BFBFBF;
}
.sidebar .nav-links li .iocn-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link{
  display: block
}
.sidebar .nav-links li i{
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  padding-top: 10px;
}
.sidebar .nav-links li.showMenu i.arrow{
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow{
  display: none;
}
.sidebar .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links .sub-menu li input{
  width: auto;
  height: auto;
  background-color: transparent;
  padding: 3px;
  border: none;
  color: beige;
}
.sidebar.close .nav-links li .sub-menu li {
  text-decoration: none;
}

.sidebar .nav-links li a .link_name{
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link_name{
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu{
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #1d1d16;
  display: none;
}
.sidebar .nav-links li.showMenu .sub-menu{
  display: block;
}
.sidebar .nav-links li .sub-menu a{
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover{
  opacity: 1;
}
.sidebar.close .nav-links li .sub-menu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name{
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
  top: 50%;
  transform: translateY(-50%);
}
.sidebar .profile-details{
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #191812;
  padding: 12px 0;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details{
  background: none;
}
.sidebar.close .profile-details{
  width: 78px;
}
.sidebar .profile-details .profile-content{
  display: flex;
  align-items: center;
}
.sidebar .profile-details img{
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #191812;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details img{
  padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job{
  display: none;
}
.sidebar .profile-details .job{
  font-size: 12px;
}
.home-section{
  position: relative;
  background: #E4E9F7;
  height: 80vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}
.sidebar.close ~ .home-section{
  left: 78px;
  width: calc(100% - 78px);
}
.home-section .home-content1{
  height: 60px;
  display: flex;
  align-items:center;
  justify-content: space-between;
}
.home-section .home-content1 img{
  padding-right: 15px;
  height: 100px;
}
.home-section .home-content1 .bx-menu,
.home-section .home-content1 .text{
  color: #11101d;
  font-size: 35px;
}
.home-section .home-content1 .bx-menu{
  margin: 0 15px;
  cursor: pointer;
}
.home-section .home-content1 .text{
  font-size: 26px;
  font-weight: 600;
}
@media (max-width: 400px) {
  .sidebar.close .nav-links li .sub-menu{
    display: none;
  }
  .sidebar{
    width: 78px;
  }
  .sidebar.close{
    width: 0;
  }
  .home-section{
    left: 78px;
    width: calc(100% - 78px);
    z-index: 100;
  }
  .sidebar.close ~ .home-section{
    width: 100%;
    left: 0;
  }
}
.home{
  height: 100vh;
  width: 100%;
  /* background-color: red; */
}
.swiper-slide{
  position: relative;
  height: 70vh;
  width: 100%;
}
.home .swiper-slide::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.274);
  z-index: var(--z-overlay);
}
.home-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* swiper button */
.swiper-navBtn{
  height: 3rem;
  width: 3rem;
  color: var(--white-color);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: var(--tran-0-2);
  opacity: 0;
  visibility: visible;
}
.home:hover .swiper-navBtn,
.review:hover .swiper-navBtn{
  opacity: 1;
}
.swiper-navBtn:hover{
  background-color: rgba(255, 255, 255, 0.3);
}
.swiper-navBtn::after,
.swiper-navBtn::before{
  font-size: 2rem;
}

.swiper-button-next{
  right: 2rem;
}
.swiper-button-prev{
  left: 3rem;
}

.swiper-pagination-bullet{
  background-color: var(--white-color);
  opacity: 1;
  height: 1.5rem;
  width: 1.5rem;
  margin-bottom: 2rem;
  visibility: hidden;
}
.swiper-pagination-bullet-active{
  border: 3px solid var(--white-color);
  background-color: var(--primary-color);
}
/*home*/
.home-details{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: var(--z-fixed);
  transform: translate(-50%, -50%);
  display: grid;
  justify-items: center;
  width: 100%;
  row-gap: 4rem;
}

.homeSubtitle{
  text-align: center;
  font-size: var(--normal-font);
  color: var(--white-color);
}
.homeTitle{
  text-align: center;
  font-size: var(--big-font);
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
}
/*card*/
.cards-wrapper {
  display: flex;
  justify-content: center;
  max-width: 90%;
  max-height: 50%;
}
.card img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.card {
  margin: 0 0.5rem;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
}
.carousel-inner {
  padding: 1rem;
  justify-content: center;
  background: black;
}
@media (min-width: 768px) {
  .card img {
    height: 11em;
  }
}
.divs-card{
  height: 100%;
  width: 100%;
  background-color: #AADFE9;
}
.title-content-preview{
  height: 10rem;
  width: 25rem;
  padding-top: 5rem;
  padding-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;

}
.title-content-preview h1{
  font-family: 'Poppins', sans-serif;
}
.divs-card .table-footer{
  display: inline-flex;
  padding: 1rem;
  width: 80%;
  margin: auto;
}
.divs-card .card1{
  width: 18rem;
  margin: 0 .5rem;
  padding-left: .3rem;
  border: none;
  border-radius: 0;
  background-color: white;
  padding-top: 1px;

}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}
.divs-card a{
  margin: 0;
  padding: 0;
}
.divs-card .card1 .card-body1 .card-text1{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.divs-card .card1 img 
{
  max-width: 100%;
  max-height: 100%;
  width: 96%;
  margin: 0.5rem;
  object-fit: cover;
  display: flex;
  justify-content: center;
}
.divs-card .div2{
  display: inline-flex;
  padding: 1rem;
}
/* login screen*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ecf0f1;
}
.content {
  background-color: #fff;
  border-radius: 15px;
  width: 960px;
  height: 50%;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.content::before {
  content: "";
  position: absolute;
  background-color: #51CEE6;
  width: 40%;
  height: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

  left: 0;
}


.title {
  font-size: 28px;
  font-weight: bold;
  text-transform: capitalize;
}
.title-primary {
  color: #fff;
}
.title-second {
  color: #E38892;
}
.description {
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
}
.description-primary {
  color: #fff;
}
.description-second {
  color: #7f8c8d;
}
.btn {
  border-radius: 15px;
  text-transform: uppercase;
  color: #fff;
  font-size: 10px;
  padding: 10px 50px;
  cursor: pointer;
  font-weight: bold;
  width: 150px;
  align-self: center;
  border: none;
  margin-top: 1rem;
}
.btn-primary {
  background-color: transparent;
  border: 1px solid #fff;
  transition: background-color .5s;
}
.btn-primary:hover {
  background-color: #fff;
  color: #51CEE6;}
.btn-second {
  background-color: #51CEE6;
  border: 1px solid #51CEE6;
  transition: background-color .5s;
}
.btn-second:hover {
  background-color: #fff;
  border: 1px solid #51CEE6;
  color: #51CEE6;
}
.first-content {
  display: flex;
}
.first-content .second-column {
  z-index: 11;
}
.first-column {
  text-align: center;
  width: 40%;
  z-index: 10;
}
.second-column {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social-media {
  margin: 1rem 0;
}
.link-social-media:not(:first-child){
  margin-left: 10px;
}
.link-social-media .item-social-media {
  transition: background-color .5s;
}
.link-social-media:hover .item-social-media{
  background-color: #51CEE6;
  color: #fff;
  border-color: #51CEE6;
}
.list-social-media {
  display: flex;
  list-style-type: none;
}
.item-social-media {
  border: 1px solid #bdc3c7;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #95a5a6;
}
.form {
  display: flex;
  flex-direction: column;
  width: 55%;
}
.form input {
  height: 45px;
  width: 100%;
  border: none;
  background-color: #ecf0f1;
}
input:-webkit-autofill 
{    
  -webkit-box-shadow: 0 0 0px 1000px #ecf0f1 inset !important;
  -webkit-text-fill-color: #000 !important;
}
.label-input {
  background-color: #ecf0f1;
  display: flex;
  align-items: center;
  margin: 8px;
}
.icon-modify {
  color: #7f8c8d;
  padding: 0 5px;
}

/* second content*/

.second-content {
  position: absolute;
  display: flex;
}
.second-content .first-column {
  order: 2;
  z-index: -1;
}
.second-content .second-column {
  order: 1;
  z-index: -1;
}
.password {
  color: #34495e;
  font-size: 14px;
  margin: 15px 0;
  text-align: center;
}
.password::first-letter {
  text-transform: capitalize;
}



.sign-in-js .first-content .first-column {
  z-index: -1;
}

.sign-in-js .second-content .second-column {
  z-index: 11;
}
.sign-in-js .second-content .first-column {
  z-index: 13;
}

.sign-in-js .content::before {
  left: 60%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  animation: slidein 1.3s; 

  z-index: 12;
}

.sign-up-js .content::before {
  animation: slideout 1.3s; 

  z-index: 12;
}

.sign-up-js .second-content .first-column,
.sign-up-js .second-content .second-column {
  z-index: -1;
}

.sign-up-js .first-content .second-column {
  z-index: 11;
}

.sign-up-js .first-content .first-column {
  z-index: 13;    
}


/* DESLOCAMENTO CONTEÚDO ATRÁS DO CONTENT:BEFORE*/
.sign-in-js .first-content .second-column {

  z-index: -1;
  position: relative;
  animation: deslocamentoEsq 1.3s; }

.sign-up-js .second-content .second-column {
  position: relative;
  z-index: -1;
  animation: deslocamentoDir 1.3s; }

/*ANIMAÇÃOO CSS PARA O CONTEÚDO*/

@keyframes deslocamentoEsq {

  from {
      left: 0;
      opacity: 1;
      z-index: 12;
  }

  25% {
      left: -80px;
      opacity: .5;
   }

  50% {
      left: -100px;
      opacity: .2;
      
  }

  to {
      left: -110px;
      opacity: 0;
      z-index: -1;
  }
}


@keyframes deslocamentoDir {

  from {
      left: 0;
      z-index: 12;
  }

  25% {
      left: 80px;

  }

  50% {
      left: 100px;
  }

  to {
      left: 110px;
      z-index: -1;
  }
}


/*ANIMAÇÃO CSS*/

@keyframes slidein {

  from {
      left: 0;
      width: 40%;
  }

  25% {
      left: 5%;
      width: 50%;
  }

  50% {
      left: 25%;
      width: 60%;
  }

  75% {
      left: 45%;
      width: 50%;
  }

  to {
      left: 60%;
      width: 40%;
  }
}

@keyframes slideout {

  from {
      left: 60%;
      width: 40%;
  }

  25% {
      left: 45%;
      width: 50%;
  }

  50% {
      left: 25%;
      width: 60%;
  }

  75% {
      left: 5%;
      width: 50%;
  }

  to {
      left: 0;
      width: 40%;
  }
}