.cards-wrapper {
  display: flex;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
}
.card img {
  max-width: 100%;
  max-height: 100%;
}
.card {
  margin: 0 0.5rem;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
}
.carousel-inner-card {
  padding: 1rem;
  justify-content: flex-start;
  background: rgb(185, 248, 227);
  display: flex;
}
.carousel-img{
  height: 30rem;
}
.div1{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div2{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card1{
  padding: 2rem;
}
h1 {
  padding: 1rem;
}
